#image_drop_area{
    width: 100%;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 1.5%;
    background-size: contain;
    background-repeat:no-repeat;
    margin-bottom: 15px;
}

.file_name{
    margin-left: 10px;
    display: flex;
}

#file_name{
    display: flex;
    font-size: 14px;
    align-items: center;
    text-align:center;
}

#text{
    display: table;
    width: 150px;
    border-right: 1px solid black;
    padding: 0px 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

#X{
    width: 30px;
    text-align:center;
    padding: 0px 6px;
    display: table;
}