<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Panorama Converter</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/dragdrop.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/input.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/button.css') }}">
    </head>
    <body>
        <header class = "title" role="title">
            <div class = "container">
                <div id="blank"></div>
                <div id="title"><a href=""><h1>Panorama Converter</h1></a></div>
                <div id="blank"></div>
            </div>
            
        </header>
        <main class = "main" role="main">
            <h3>Upload an image</h3>
            <div class = "container">
                <div id="blank"></div>
                <div>
                    <div id="image_drop_area"></div>
                    <div id="info">
                        <button onclick="upload()">파일 선택</button>
                        <input id="file-input" type="file" name="name" style="display: none;" accept="image/*" />
                        <div class="file_name"></div>
                    </div>
                    <div id="blackblock"></div>
                    <div id="parameter">
                        <div>
                            <div class="group">      
                                <input id = 'height' type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Height</label>
                            </div>
                            <div class="group">      
                                <input id = 'width' type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Width</label>
                            </div>
                            <div class="group">      
                                <input id = 'password' type="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>PassWord</label>
                            </div>
                            <button class="button-30"  type="button" onclick = "submit('{{uri}}')">Convert</button>
                        </div>
                    </div>
                    
                </div>
                    <div id="blank"></div>
            </div>
            
            <script type="text/javascript" src="{{ url_for('static', path='/js/upload.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', path='/js/submit.js') }}"></script>
        </main>
        <footer role="footer">

        </footer>
    </body>
</html>